@model Pizza_Shop_Repository.ViewModels.TableSectionViewModel
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form asp-action="AddSection" asp-controller="TableAndSection" id="AddSectionForm" method="post">
        <div class="modal-body">
            <div  class="form-floating mb-3">
                <input type="text" class="form-control mb-2" id="exampleInpuText1" aria-describedby="textHelp"
                    placeholder="Name" asp-for="@Model.SectionName"/>
                <label for="exampleFormControlTextarea1">Section Name</label>
                <span class="text-danger" asp-validation-for="SectionName"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="@Model.SectionDesc"></textarea>
                <label for="exampleFormControlTextarea1">Description</label>
                <span class="text-danger" asp-validation-for="SectionDesc"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="AddSectionModalSubmit" class="btn btn-primary modal_submit_btn">Save</button>
            <button type="button" class="btn btn-outline-primary modal_close_btn" data-bs-dismiss="modal">
                Cancel
            </button>
        </div>
    </form>
</div>