@model Pizza_Shop_Repository.ViewModels.ChangePasswordViewModel;
@{
    ViewData["Title"] = "ChangePassword";
}
<div class="p-2 pl-3 pr-3">
    <!-- header -->
    <div class="col-12 p-2 user-list-container d-flex flex-row justify-content-between">
        <div class="h3 fw-bold text-primary">Change Password</div>
    </div>
    <div class="form-holder ms-5 p-3">
        <form asp-action="ChangePassword" asp-controller="User" method="post">
            <span class="text-secondary ps-2">Enter new password to update account credentials</span>
            <div class="form-group">
                <div class="input-countainer mb-3">
                    <input type="password" class="form-control" id="oldpass1" aria-describedby="passwordHelp"
                        placeholder="Enter Current Password" asp-for="@Model.OldPassword">
                    <span class="input-countainer-icon"><i id="oldpass-icon1" class="fa-solid fa-eye-slash"
                            onclick="showPassword('oldpass1','oldpass-icon1')"></i></span>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="input-countainer mb-3">
                    <input type="password" class="form-control" id="pass1" aria-describedby="passwordHelp"
                        placeholder="Enter New Password" asp-for="@Model.NewPassword"> 
                    <span class="input-countainer-icon"><i id="pass-icon1" class="fa-solid fa-eye-slash"
                            onclick="showPassword('pass1','pass-icon1')"></i></span>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="input-countainer mb-3">
                    <input type="password" class="form-control" id="pass2" aria-describedby="passwordHelp"
                        placeholder="Confirm New Password" asp-for="@Model.ConfirmePassword">
                    <span class="input-countainer-icon"><i id="pass-icon2" class="fa-solid fa-eye-slash"
                            onclick="showPassword('pass2','pass-icon2')"></i></span>
                    <span asp-validation-for="ConfirmePassword" class="text-danger"></span>
                </div>
                <div class="d-flex flex-row justify-content-start ">
                    <button type="submit" class="btn btn-primary rounded text-white mr-3">Submit</button>
                    <a asp-action="UserList" asp-controller="User" class="btn btn-outline-primary rounded">Cancle</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        function sidebarColorChange(){
            var sidebarAnchor = document.getElementsByClassName("sidebar-anchor");
            for(var i = 0 ; i < sidebarAnchor.length ; i++){
                sidebarAnchor[i].classList.remove("active-sidebar");
                sidebarAnchor[i].querySelector(".sidebar-name").classList.add("text-dark");
                sidebarAnchor[i].querySelector(".sidebar-name").classList.remove("text-primary");
            }
        }
        sidebarColorChange();
        document.getElementById("User-Sidebar").classList.add("active-sidebar");
        document.getElementById("User-Sidebar").querySelector(".sidebar-name").classList.remove("text-dark");
        document.getElementById("User-Sidebar").querySelector(".sidebar-name").classList.add("text-primary");
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}