<div class="accordion-item border border-secondary rounded mb-1">
    <div class="accordion-header d-flex flex-row align-item-center pt-1 pb-1" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne">
        <button class="w-0 accordion-button collapsed menuAccord ps-1 pe-3 pt-2 pb-2 accord_btn ms-1" type="button"
            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
            aria-controls="flush-collapseOne">
        </button>
        <div class="ms-2 d-flex flex-row justify-content-between align-items-center w-100">
            <div class="fw-bold">
                Margherita
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center item-accord">
                <div>
                    <span
                        class="border border-secondary rounded d-flex flex-row justify-content-between align-items-center"
                        style="height: 40px;">
                        <span class="fs-4 btn text-secondary d-flex align-items-center justify-content-center"
                            id="minus-quantity-" onclick="">-</span>
                        <span id="item-quantity-">10</span>
                        <span class="fs-4 btn text-secondary d-flex align-items-center justify-content-center"
                            id="plus-quantity-" onclick="">+</span>
                    </span>
                </div>
                <div>120</div>
                <div><i class="fa-solid fa-trash"></i></div>
            </div>
        </div>
    </div>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#ItemAccordianContainer">
        <div class="accordion-body p-1">
            <ul>
                <li>
                    <div class="d-flex flex-row justify-content-between align-item-center">
                        <div class="d-flex flex-row justify-content-start gap-4 align-items-center">
                            <div>Onion</div>
                            <div>10</div>
                        </div>
                        <div class="accord-body-price">
                            10
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex flex-row justify-content-between align-item-center">
                        <div class="d-flex flex-row justify-content-start gap-4 align-items-center">
                            <div>Onion</div>
                            <div>10</div>
                        </div>
                        <div class="accord-body-price">
                            10
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
@* no modifier accordian *@
<div class="accordion-item border border-secondary rounded mb-1">
    <div class="accordion-header d-flex flex-row align-item-center pt-1 pb-1">
        <button class="w-0 d-none accordion-button collapsed menuAccord ps-1 pe-3 pt-2 pb-2 accord_btn ms-1"
            type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne1" aria-expanded="false"
            aria-controls="flush-collapseOne1">
        </button>
        <div class="ms-2 d-flex flex-row justify-content-between align-items-center w-100">
            <div class="fw-bold">
                Margherita
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center item-accord">
                <div>
                    <span
                        class="border border-secondary rounded d-flex flex-row justify-content-between align-items-center"
                        style="height: 40px;">
                        <span class="fs-4 btn text-secondary d-flex align-items-center justify-content-center"
                            id="minus-quantity-" onclick="">-</span>
                        <span id="item-quantity-">10</span>
                        <span class="fs-4 btn text-secondary d-flex align-items-center justify-content-center"
                            id="plus-quantity-" onclick="">+</span>
                    </span>
                </div>
                <div>120</div>
                <div><i class="fa-solid fa-trash"></i></div>
            </div>
        </div>
    </div>
    <div id="flush-collapseOne1" class="accordion-collapse collapse" data-bs-parent="#ItemAccordianContainer">
        <div class="accordion-body p-1">
        </div>
    </div>
</div>