@model Pizza_Shop_Repository.ViewModels.ForgotPasswordViewModel;
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LoginLayout";
    var email = TempData["Email"];
}
<div class=" p-2">
    <h2>Forgot Password</h2>
</div>
<div class="p-2">
    <p>Enter the email to send the password reset link</p>
</div>
<div class="p-2">
    <form asp-action="ForgotPassword" asp-controller="UserLogin" method="post">
        <div class="form-group">
            <div class="input-countainer mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" asp-for="@Model.Email" value="@(email != null ? email : "")">
                <span class="input-countainer-icon"><img src="./images/icons/customer.svg" alt="" srcset=""></span>
                <span asp-validation-for="Email" class="text-danger"></span>
                <span class="text-danger">@ViewBag.ErrorMsg</span>
            </div>
            <button type="submit" class="btn btn-primary mb-2 w-100">Send</button>
            <div class="d-flex flex-row justify-content-center align-item-center"><a asp-controller="UserLogin" asp-action="Login">back to
                    login</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}