@model Pizza_Shop_Repository.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_LoginLayout";
}
<div class="mb-3 p-2">
    <h2>Reset Password</h2>
</div>
<div class="p-2">
    <form asp-action="ResetPassword" asp-controller="UserLogin">
        <div class="form-group">
            <div class="input-countainer mb-3">
                <input type="hidden" asp-for="@Model.Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" value="@Model.Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="input-countainer mb-3">
                <input type="password" asp-for="@Model.Password" class="form-control" id="pass1" aria-describedby="passwordHelp"
                    placeholder="Enter new password">
                <span class="input-countainer-icon"><i id="pass-icon1" class="fa-solid fa-eye-slash"
                        onclick="showPassword('pass1','pass-icon1')"></i></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="input-countainer mb-3">
                <input type="password" asp-for="@Model.ConfirmePassword" class="form-control" id="pass2" aria-describedby="passwordHelp"
                    placeholder="Confirm new password">
                <span class="input-countainer-icon"><i id="pass-icon2" class="fa-solid fa-eye-slash"
                        onclick="showPassword('pass2','pass-icon2')"></i></span>
                <span asp-validation-for="ConfirmePassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mb-2 w-100">Submit</button>
            <div class="d-flex flex-row justify-content-center align-item-center"><a asp-controller="UserLogin" asp-action="Login">back to
                    login</a></div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}